# Dependency directories
node_modules/

# Build directories
dist/
.next/
frontend/.next/

# Env file containing credentials
.env
.env.local
frontend/.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE/OS files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
